<h2>Liste des armes</h2>

<div class="filters">
  <label>
    Filtrer par nom :
    <input type="text" [(ngModel)]="filterName" placeholder="Nom de l'arme" />
  </label>
  <label>
    Trier par :
    <select [(ngModel)]="sortBy">
      <option value="">Aucun</option>
      <option value="name">Nom</option>
      <option value="attack_boost">Boost d'attaque</option>
    </select>
  </label>
  <label>
    Ordre :
    <select [(ngModel)]="sortOrder">
      <option value="asc">Ascendant</option>
      <option value="desc">Descendant</option>
    </select>
  </label>
  <button class="apply-filters" (click)="applyFilters()"><span class="material-icons">search</span></button>&nbsp;
  <button  class="apply-filters" (click)="resetFilters()" class="reset-button">Reset</button>
</div>
<table>
  <thead>
    <tr>
      <th hidden>ID</th>
      <th>Nom</th>
      <th>Boost d'attaque</th>
      <th>Éditer une arme</th>
      <th>Supprimer une arme</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weapon of displayedWeapon | async">
      <td hidden><input #weaponId value="{{ weapon.id }}" readonly name="weaponId"></td>
      <td>{{ weapon.name }}</td>
      <td>{{ weapon.attack_boost }}</td>
      <td><a routerLink="/weapon-editor/{{ weapon.id }}"><span class="material-icons" style="color: coral;">edit</span></a></td>
      <td><button (click)="deleteWeapon(weaponId.value)" style="background-color: white;"><span class="material-icons" style="color: darkred;">delete</span></button></td>
    </tr>
  </tbody>
</table>
<div class="redirection">
  <button routerLink="/weapon-editor/">
    Crée ton arme <span class="material-icons">open_in_new</span>
  </button>
</div>