<nav>
    <span>{{ title }}</span>&nbsp;
    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Top des héros</a>
    <a [routerLink]="['/heroes']" routerLinkActive="router-link-active" >Héros</a>
    <a [routerLink]="['/weapon']" routerLinkActive="router-link-active" >Armes</a>
    <a [routerLink]="['/hero-editor']" routerLinkActive="router-link-active" >Éditeur de Héros</a>
    <a [routerLink]="['/weapon-editor']" routerLinkActive="router-link-active" >Éditeur d'armes</a>
</nav>
<router-outlet></router-outlet>