<h2>Edite ton héro ou crée en un nouveau !</h2>

<form [formGroup]="heroForm">
  <label for="name">Nom</label>
  <input id="name" type="text" formControlName="name">

  <label for="attaque">Attaque</label>
  <input id="attaque" type="number" formControlName="attaque">

  <label for="esquive">Esquive</label>
  <input id="esquive" type="number" formControlName="esquive">

  <label for="degats">Dégâts</label>
  <input id="degats" type="number" formControlName="degats">

  <label for="pv">PV</label>
  <input id="pv" type="number" formControlName="pv">

  <!-- Change l'action et le texte du bouton en fonction du contexte -->
  <button type="button" (click)="hero ? updateHero() : addHero()">
    {{ hero ? 'Modifier' : 'Créer' }}
  </button>
</form>



