/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=New+Rocker&display=swap');

/* Global Styles */
body {
    margin: 0;
    padding: 0 2%;
    font-family: 'Chakra Petch', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
    color: #005999;
}

.material-icons {
    font-size: 24px; /* Default size is 24px */
    vertical-align: middle; /* Aligns with text */
}

@media (max-width: 768px) {
    body {
        padding: 0 5%;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
    }
}
